# Upstox API Credentials
UPSTOX_API_KEY=your_api_key_here
UPSTOX_SECRET_KEY=your_secret_key_here
UPSTOX_REDIRECT_URI=https://127.0.0.1:5000/

# Authentication Details
UPSTOX_TOTP_KEY=your_totp_key_here
UPSTOX_MOBILE_NO=your_mobile_number_here
UPSTOX_PIN=your_6_digit_pin_here
